/* styles.css */

/* 基本样式 */
body {
    background-color: #f8f9fa;
    /* 背景色 */
    font-family: 'Roboto', sans-serif;
    /* 字体 */
    color: #333;
    /* 文字颜色 */
    padding-bottom: 100px;
    /* 底部填充 */
}
.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(50px); /* 调整模糊效果的值 */
    -webkit-backdrop-filter: blur(12px); /* Safari 兼容性 */
    z-index: -1; /* 确保在页面内容下方 */
}

.container {
    padding-top: 20px;
    /* 上方填充 */
    padding-bottom: 20px;
    /* 下方填充 */
}


#player {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px; /* 可以根据需要调整内边距 */
    /* 如果不需要背景色，可以不设置背景颜色 */
    background-color: transparent; /* 或者使用 rgba(0, 0, 0, 0) 完全透明 */
}

/* 搜索栏样式 */
.search-bar {
    position: fixed;
    top: 0;
    left: 20;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding: 15px 0; /* 调整上下内边距，增加整体高度 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5); /* 设置背景颜色和透明度，这里的 rgba 最后一个参数 (0.8) 控制透明度，可以根据需要调整 */
    height: 70px; /* 设置整体高度 */
}


.container-fluid {
    padding-top: 80px;
    /* 确保内容不会被固定的搜索栏覆盖 */
}


.search-bar input {
    margin-bottom: 10px;
    /* 下方外边距 */
}

.search-bar button {
    width: 100%;
    /* 按钮宽度占满列宽 */
}

.thead-blue {
    background-color: #007bff;
    /* Bootstrap的蓝色 */
    color: white;
    /* 白色文字 */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    /* 初始时隐藏 */
}



.list-group-item{
    background-color: rgba(255, 255, 255, 0.5); /* 设置背景颜色和透明度，这里的 rgba 最后一个参数 (0.8) 控制透明度，可以根据需要调整 */
    border: 1px solid #ccc; /* 可选：设置边框 */
    padding: 10px; /* 可选：设置内边距 */
}

.table{
    background-color: rgba(255, 255, 255, 0.5); /* 设置背景颜色和透明度，这里的 rgba 最后一个参数 (0.8) 控制透明度，可以根据需要调整 */
    border: 1px solid #ccc; /* 可选：设置边框 */
    padding: 10px; /* 可选：设置内边距 */
}
/* 响应式设计 */
@media (max-width: 768px) {

    .col-md-3,
    .col-md-9 {
        width: 100%;
        /* 列宽度为100% */
    }

    .artistlist-div {
        display: none;
        /* 隐藏元素 */
    }
    #content {
        margin-top: 130px;
        /* 根据需要调整距离 */
    }
   
}


.mianpage {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* 设置每个块之间的间距 */
}

.col-md-3 {
    flex: 1 0 21%;
    /* 根据需要调整此比例 */
    margin-bottom: 20px;
    /* 设置底部间距 */
}

/*专辑列表*/
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.square-img-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
    /* 1:1 aspect ratio (square) */
    background-color: #616bf5; /* 占位框的颜色 */
}

.square-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 保持图片比例并填充容器 */
    background-color: #616bf5; /* 占位框的颜色 */
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5); /* 调整背景色透明度 */
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    /* 去除标题底部的默认间距 */
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    /* 去除文本底部的默认间距 */
}





/*艺术家列表*/
.artistlist-div {
    position: fixed;
    bottom: 80px;
    right: 0;
    width: 500px;
    height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3); /* 调整背景色透明度 */
    border-radius: 10px; /* 圆角边框 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    transition: box-shadow 0.3s ease-in-out; /* 添加过渡效果 */

    z-index: 10;
}


.artistlist-div:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 悬停时增加阴影效果 */
}
