<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ album.name }}</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>{{ album.name }}</h1>
        <p>Artist: {{ album.artist }}</p>
        <img src="{{ url_for('cover', cover_art_id=album.coverArt) }}" class="img-fluid mb-4" alt="Album Cover">
        <div class="list-group">
            {% for song in album.song %}
                <a href="{{ url_for('play_song', song_id=song.id) }}" class="list-group-item list-group-item-action">{{ song.title }}</a>
            {% endfor %}
        </div>
        <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Back to Albums</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
