<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TouHou Music</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <!-- 搜索栏 -->
        <div class="row mb-4 search-bar">
            <div class="col-md-3 col-12">
                <input type="text" id="search-album-input" class="form-control" placeholder="Search for albums...">
            </div>
            <div class="col-md-3 col-12">
                <input type="text" id="search-artist-input" class="form-control" placeholder="Search for artists...">
            </div>
            <div class="col-md-3 col-12">
                <input type="text" id="search-song-input" class="form-control" placeholder="Search for songs...">
            </div>
            <div class="col-md-3 col-12">
                <div class="row">
                    <div class="col-3">
                        <button  id="up-button" class="btn btn-primary btn-block" onclick="upPage('0')">←</button>
                    </div>
                    <div class="col-3">
                        <button id="home-button" class="btn btn-primary btn-block" onclick="loadAlbums(globalpage)">🏠</button>
                    </div>
                    <div class="col-3">
                        <button id="down-button" class="btn btn-primary btn-block" onclick="downPage('0')">→</button>
                    </div>
                    <div class="col-3">
                        <button id="about-button" class="btn btn-primary btn-block" onclick="showPopup()">❗</button>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col-md-3 col-12 artistlist-div">
                <div class="artistlist">
                    <h3>同人社团列表</h3>
                    <!-- 艺术家列表内容会被动态加载到这里 -->
                </div>
            </div>
            <div class="col-md-9 col-12">
                <!-- 主体内容 -->

                <div id="content">
                    <!-- 内容通过AJAX加载 -->
                </div>
            </div>
        </div>
    </div>

    <!-- 播放器区域 -->
    <div id="player" class="d-none">
        <audio id="audio-player" controls></audio>
        <div id="current-song-title"></div>
        <img id="current-album-cover" src="https://via.placeholder.com/50" alt="Album Cover">
        <div id="progress-container">
            <input type="range" id="progress-bar" value="0" max="100">
        </div>
    </div>

    <!-- 引入jQuery和Bootstrap的单独文件 -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- 引入拆分后的JavaScript文件 -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/albums.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/playback.js') }}"></script>
    <script src="{{ url_for('static', filename='js/artist.js') }}"></script>
    <script>
        var globalpage = 0;
        $(document).ready(function () {
            // 页面加载时保持播放器区域隐藏
            $('#player').hide();
            // 页面初始化时的处理
            $(document).ready(function () {
                // 加载页面时检查当前URL路径
                checkUrlPage();

                // 监听 popstate 事件，以便在用户点击浏览器的前进或后退按钮时检查URL路径
                window.addEventListener('popstate', function (event) {
                    checkUrlPage(urlpage);
                });
            });
        });
    </script>
</body>

</html>