<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Explore a vast collection of TouHou music albums, discover artists.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TouHou Music - Discover Albums, Artists, and Songs</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css"
        integrity="sha512-SJw7jzjMYJhsEnN/BuxTWXkezA2cRanuB8TdCNMXFJjxG9ZGSKOX5P3j03H6kdMxalKHZ7vlBMB4CagFP/de0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap-grid.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">
        <!-- 搜索栏 -->
        <div class="row mb-4 search-bar">
            <div id="search-input" class="col-md-3 col-sm-12 mb-2 mb-sm-0">
                <input type="text" id="search-input-text" class="form-control" placeholder="Search for albums artists or songs...">
            </div>
            <div id="search-button-div" class="col-md-1 col-sm-6 col-6 mb-2 mb-sm-0">
                <button id="search-button" class="btn btn-primary btn-block text-nowrap" onclick="globalsearch()">搜索</button>
            </div>
            <div class="col-md-1 col-sm-6 col-6 mb-2 mb-sm-0">
                <button id="showFavoriteBtn" class="btn btn-primary btn-block text-nowrap" onclick="displayFavoriteAlbums()">查看收藏</button>
            </div>
            <div id="dynamic" class="col-md-3 col-sm-6 col-6 mb-2 mb-sm-0">
                <select id="dynamic-select" class="form-control">
                    <!-- 这里是动态加载的选项 -->
                </select>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <button id="up-button" class="btn btn-primary btn-block me-2 text-nowrap" onclick="upPage('0')">←</button>
                        <button id="home-button" class="btn btn-primary btn-block me-2 text-nowrap" onclick="loadAlbums(globalpage)">🏠</button>
                        <button id="down-button" class="btn btn-primary btn-block me-2 text-nowrap" onclick="downPage('0')">→</button>
                        <button id="about-button" class="btn btn-primary btn-block text-nowrap" onclick="showPopup()">❗</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mianpage">
            <div class="col-md-9 col-12">
                <!-- 主体内容 -->
                <div id="content">
                    <!-- 内容通过AJAX加载 -->
                </div>
                <div class="col-md-3 col-12 artistlist-div">
                    <div class="artistlist">
                        <h3>同人社团列表</h3>
                        <!-- 艺术家列表内容会被动态加载到这里 -->
                    </div>
                </div>
            </div>
        </div>

        <div id="aplayer"></div>

        <div id="loading-spinner" style="display: none;"></div>

        <div id="error-modal" style="display: none;">
            <!-- Error modal HTML -->
            <div id="error-message"></div>
        </div>

        <!-- 错误模态框 -->
        <div id="error-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="error-message"></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="popup"></div>

        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>


        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/albums.js') }}"></script>
        <script src="{{ url_for('static', filename='js/search.js') }}"></script>
        <script src="{{ url_for('static', filename='js/playback.js') }}"></script>
        <script src="{{ url_for('static', filename='js/artist.js') }}"></script>
        <script src="{{ url_for('static', filename='js/genre.js') }}"></script>
        <script src="{{ url_for('static', filename='js/movadsorbent.min.js') }}"></script>


        <script>
            new Movadsorbent(ap, false);
            navigator.mediaSession.setActionHandler('previoustrack', function () {
                ap.skipBack()
            });

            navigator.mediaSession.setActionHandler('nexttrack', function () {
                ap.skipForward()
            });

            document.getElementById('search-input-text').addEventListener('keypress', function(event) {
    if (event.key === 'Enter') {
        document.getElementById('search-button').click();
    }
});
            var songlisteffcsion = "hvr-underline-reveal";
            var albumlistCoverSize = "200"
            var albumdtlCoverSize = "300"
            var playerCoverSize = "50"

        </script>
</body>

</html>